.header {
  background: rgba(98, 98, 98, 0.63);
}
.cont-nav {
  max-width: 320px;
  padding: 10px 6px 10px 124px;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
.main-hero{
  background-image: url(../img/background-main-1440.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero{
  margin-top:34px ;
}
.nav-menu-item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: 400;
}
.nav-button {
  border-radius: 8px;
  background: #b4b4b4;
  padding: 4px 12px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: 400;
}
@media screen and (min-width:768px) {
  .nav-menu {
    gap: 70px;
  }
  .hero{
    margin-top: 44px;
  }
  .nav-menu-item {
    font-size: 14px;
  }
  .cont-nav {
    max-width: 768px;
    padding: 14px 55px 13px 390px;
  }
  .nav-button {
    padding: 6px 27px;
    font-size: 14px;
  }
}
@media screen and (min-width:1440px){
  .nav-menu {
    gap: 138px;
  }
  .nav-menu-item {
    font-size: 20px;
  }
  .cont-nav{
    max-width: 1440px;
    padding: 27px 97px 17px 778px;
  }
  .nav-button {
    padding: 10px 38px;
    font-size: 20px;
  }
  .hero{
    margin-top: 45px;
  }
}
